body,
p,
h1,
button {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
}

#game-area {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: red;

}

h1,
#game-area button {
    position: absolute;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    color: aliceblue;
    margin: 50px auto;
}